<div>Assignment!</div>

<div>
	<h3>Project Details</h3>
	<div>
		<div>Project Name: <%= @ass.project.name %></div>
		<div>Customer Name: <%= @ass.project.user.first_name %> <%= @ass.project.user.last_name %></div>
		<div>Topic: <%= @ass.project.topic.name %></div>
		<div>Points Required: <%= @ass.project.pages * 10 %></div>
		<div>Request Date: <%= @ass.project.created_at.to_date %></div>
		<div>Time Remaining: <%= distance_of_time_in_words(@ass.due_date, Time.now) %></div>
	</div>
</div>


<div>
		Search for relevant points!

		<%= form_tag assignment_path, :method => 'get', remote: true do %>
				<div>
					<%= label_tag 'Topic' %>
					<%= select_tag(:search_topic, options_from_collection_for_select(Topic.all, "id", "name", :selected => params[:search_topic]))%>


					<%= label_tag 'Oldest Year' %>
					<%= number_field_tag :search_year, params[:search_year] %>

					<%= label_tag 'Minimum Admin Likes' %>
					<%= number_field_tag :search_admin_likes, params[:search_admin_likes] %>

				</div>
				<div>
					<%= submit_tag "Search", :name => nil %>
				</div>
		<%end%>

		<!-- form to reset ie show  available -->
		<%= form_tag assignment_path, :method => 'get' do %>
			<input type="hidden" name="reset" value=true/>
			<%= submit_tag "Reset Filter", :name => nil %>
		<% end %>
</div>

<div id="point-list">
	TOTAL RESULTS: <%= @points.count %><br>
	<% @points.each do |point| %>
		Point: <%= point.name %><br>
		Topic: <%= point.topic.name %><br>
		Year: <%= point.year %><br>
		Times used by admin: <%= point.like_admin %>
		<br>
		<br>
	<% end %>

</div>

<div>
	CREATE NEW POINT!
	<div>
		<%=form_for @point do |form|%>
			<div>
				<%= form.label :name %> 
				<%= form.text_field :name, placeholder: 'What is the point?' %>
			</div>		

			<div>
				<%= form.label :reference_url %> 
				<%= form.text_field :reference_url, placeholder: 'Please copy and paste the url!' %>
			</div>	

			<div>
				<%= form.label :year %> 
				<%= form.select :year, ((1950..Date.today.year).map {|i| [i,i] }) %>
			</div>		

			<div>
				<%= form.label :topic_id %> 
				<%= form.collection_select :topic_id, Topic.all, :id, :name, :prompt => "Choose the most relevant topic" %>
			</div>
			
			<%=form.submit%>
		<%end%>	
	</div>
</div>

<br>
<br>
<br>

<div>
	<h4>Latest Related News to <%=@ass.project.topic.name%>!</h4>
	<ol id="news"></ol>
</div>

<%= content_tag 'div', '', id: 'topic', data: {key1: @ass.project.topic.name} %>


<script>

var topic = $('#topic').data('key1')

var url = 'https://newsapi.org/v2/everything?' +
          'q=' + topic + '&' +
          'from=2018-09-24&' +
          'sortBy=popularity&' +
          'apiKey=c595dfa7a22744e2a7d7fde71077a8ea';

var ul = document.getElementById('news');

function createNode(element) {
    return document.createElement(element); // Create the type of element you pass in the parameters
}

function append(parent, el) {
    return parent.appendChild(el); // Append the second parameter(element) to the first one
}

var req = new Request(url);

fetch(req).then(function(response) {
  // alert(response.status);
  return response.json();
}).then(function(jsonData){

  var i = 0
  for (var i = 0; i < 10; i++) {
	  let content = jsonData.articles[i].description
	  let url = jsonData.articles[i].url
	  let li = createNode('li')
	  li.innerHTML = content + '' + url + ' <br><br>' ;
	  append(ul, li);
  }
});

</script>




