<h1>Users#edit</h1>

<br>
<br>
<br>

<div>
	<h4>EDIT YOUR PROFILE!</h4>
<div>
		<%= form_for(@user) do |form| %>
			<%= form.label :first_name, 'First Name' %>
			<%= form.text_field :first_name, placeholder: @user.first_name, :required => true %>

			<%= form.label :last_name, 'Last Name' %>
			<%= form.text_field :last_name, placeholder: @user.last_name, :required => true %>

			<!-- Nice to have - add blank string field for others -->
			<%= form.label :occupation, 'Occupation' %>
			<%= form.select :occupation, ['University Student','Non-university Student', 'Professional', 'Entrepreneur', 'Others'],{:required => true}%>

			<%= form.label :industry, 'Industry' %>
			<%= form.select(:industry, User::OCCUPATION_LIST, {:required => true}) %>


			<%=form.submit 'Update Profile'%>
		<% end %>
	</div>
</div>

<br>
<br>
<br>

<p class="font-weight-bold">Find me in app/views/users/edit.html.erb C:Users#edit</p>

