<h1>THIS IS THE SIGN UP PAGE</h1>



<div>
	<%=form_for @user do |form|%>
	  <div>
		<% if @user.errors.any? %>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		<% end %>
	  </div>

	  Email: <%= form.text_field :email %>
	  Password: <%= form.password_field :password %>
	  Password Confirmation: <%= form.password_field :password_confirmation %>

	<%=form.submit%>
<%end%>
</div>

<br>
<br>
<br>
<h6>users#new.</h6>