<h1>THIS IS THE USER INDEX PAGE</h1>
<%= link_to "Your Profile", user_profile_path %>

<br>
<br>
<br>

<div>
	<h4>I WANT A TALKING POINT!</h4>
	<div>
		(ONCLICK, FORM TO SUBMIT NEW REQUEST)

		<%=form_for @project do |form|%>
			<div>
				<%= form.label :name %> 
				<!-- form.label gives the printed name of that field. Can change -->
				<%= form.text_field :name, placeholder: 'Name of project' %>
			</div>
			
			<div>
				<%= form.label :description %> 
				<%= form.text_field :description, placeholder: 'Describe your project!' %>
			</div>

			<div>
				<%= form.label :pages %> 
				<%= form.select :pages, ((1..9).map {|i| [i,i] } << [10,nil]) %>
			</div>
			
			<%=form.submit%>
		<%end%>
	</div>
</div>

<br>
<br>
<br>

<div>
	<h4>SEE YOUR PAST PROJECTS!</h4>
	(A preview of all past talking points. Card style from bootsnipp.)
</div>

<br>
<br>
<br>

<div>
	<h4>MOST POPULAR POINTS SO FAR!</h4>
	<div>
		(A list (maybe cards?) of most popular points so far. Potentially, users interact by liking.)
	</div>
</div>

<br>
<br>
<br>
<h6>user#show.</h6>