<h1>THIS IS THE USER INDEX PAGE</h1>

<br>
<br>
<br>

<div>
	<h4>I WANT A TALKING POINT!</h4>
	<div>
		(ONCLICK, FORM TO SUBMIT NEW REQUEST)

		<%=form_for @project do |form|%>
			<div>
				<%= form.label :name %> 
				<!-- form.label gives the printed name of that field. Can change -->
				<%= form.text_field :name, placeholder: 'Name of project' %>
			</div>
			
			<div>
				<%= form.label :description %> 
				<%= form.text_field :description, placeholder: 'Describe your project!' %>
			</div>

			<div>
				<%= form.label :pages %> 
				<%= form.select :pages, ((1..9).map {|i| [i,i] } << [10,nil]) %>
			</div>

			<div>
				<%= form.label :topic_id %> 
				<%= form.collection_select :topic_id, Topic.all, :id, :name, :prompt => "Choose the most relevant topic" %>
			</div>
			
			<%=form.submit%>
		<%end%>
	</div>
</div>

<br>
<br>
<br>

<div>
	<% if @user.researcher? ||  @user.superadmin?%>
		<h4>SEE PENDING ASSIGNMENTS!</h4>
		<% @assignments.each do |ass| %>
			<%= ass.project.name %><br>
			<%= ass.project.user.email %><br>
			<%= ass.project.topic.name %><br>
			<%= ass.project.created_at.to_date %><br>
			Assigned on: <%= distance_of_time_in_words(Time.now, ass.created_at) %> ago<br>
			Time Remaining: <%= distance_of_time_in_words(ass.due_date, Time.now) %><br>
			<%= link_to "Start Assignment", assignment_path(ass) %><br>

			<br>
			<br>

		<% end %>
	<% end %>
	<h4>SEE YOUR PAST PROJECTS!</h4>
	(A preview of all past talking points. Card style from bootsnipp.)
	<div>
		<% @projects.each do |project| %>
			<%= project.name %><br>
			<%= project.description %><br>
			<%= project.topic.name %><br>
			<%= project.pages %><br>
			<%= project.created_at.to_date %><br>
			<%= project.status_user %>
			<br>
			<br>
			<br>
		<% end %>
	</div>
</div>

<br>
<br>
<br>

<div>
	<h4>MOST POPULAR POINTS SO FAR!</h4>
	<div>
			<% @points.each do |point| %>
				<%= point.name %><br>
				<%= link_to "reference", point.reference_url %><br>
				<%= point.topic.name %><br>

				<br>
				<br>
				<br>
			<% end %>
	</div>
</div>

<br>
<br>
<br>
<h6>user#show.</h6>